body{
    font-weight: 400;
    font-family: "montserrat",sans-serif;
    line-height: 1.666;
    background-color: aliceblue;
    color: black;
}

.head{
    font-weight: 900;
    font-size: 500%;
    text-align: center;
    margin-top: 4rem;
    color: #fff;
    line-height: 1.2;
}
.head span{
    padding: 5px 15px;
    background-color: aqua;
}
.dictionary{
    /* background-color: rgb(182, 70, 70); */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.term{
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    
    
}
dt{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.emoji{
    padding: 20px;
    font-size: 35px;
}
.emtitle{
    font-size: 40px;
    padding: 20px;
}
dd{
    padding: 20px;
    font-family: cursive;
    font-size: 1rem;
}